/* .box{
   height: 100px;
   width: 200px;
   border: 1px solid black;
}

.red{
   background-color:red;
}

.green{
   background-color: green;
}

.blue{
   background-color: blue;
}
.purple{
   background-color: purple;
}
.yellow{
   background-color: yellow;
}
.orange{
   background-color: orange;
}
.left {float: left;}
.right {float:right;}
.clear-left {clear:left;}
.clear-right {clear:right;}
.clear-both {clear:both;} */

body {
    margin:0;
 }
 
 .main-nav{
    height:75px;
    background-color: orange;
    }
   
    /* .main-nav:hover{
        height:85px;
    } */
    .logo {
        height:56px;
        padding:10px;
    }
  
   
    li{
        color:green;
        float:right;
        padding: 14px 16px;
        list-style-type:none;
    }
    .center{
        text-align: center;
    }
 
  .nav-list{
      float:right;
    list-style-type: none;
 }
  li{
  color:blue;
  padding:14px 16px;
  float:left;
 }
 li:hover{
    font-size:30px;
    padding:5px 16px;
 }
 
 .logo:hover{
    height:66px;
 }
 
.main-nav:hover{
        height:85px;
    }
 
/* end nav styles */
/* Content styles */

.content {
    height: 85vh;
}

 .footer{
   background-color: brown;
   height:50px;
 }
 .social-media{
     height:50px;
     margin-bottom: 0;
     list-style-type: none;
 }
 a{
    color: blue;
    
    text-decoration: none;
 }
 /* maps */

 .map{
    width: 600;
    height:450;
    text-align: center;
 }
 /* audio control */

 .Center{
    text-align: center;
 }
 .button{
   padding: 10px;
   font-size: 24 px;
   border-radius:10px;
 }
 .button-success{
    border: 1px solid;
    background:green;
    width:150px;
   }
.button-default{
   background:white;
   color:black;

}

.button-danger{
   width:250px;
   background:red;
   color:white;
   border:none;
}
.button-large{
   width:250px;
}
.button-small{
   width:150px;
}

/* media-query-All devices with screen width <=768px */
@media(max-width:768px){
   .button{
      font-size:18px;
   }
}

@media(max-width:1024px){
   .button{
      font-size:20px;
   }
}
@media(min-width:1024px) and (max-width:1024px){
   .button{
      font-size:20px;
   }
}

@media(min-width:768px) and (max-width:1024px){
   .button{
      font-size:22px;
   }
}

