/* .box{
   height: 100px;
   width: 200px;
   border: 1px solid black;
}

.red{
   background-color:red;
}

.green{
   background-color: green;
}

.blue{
   background-color: blue;
}
.purple{
   background-color: purple;
}
.yellow{
   background-color: yellow;
}
.orange{
   background-color: orange;
}
.left {float: left;}
.right {float:right;}
.clear-left {clear:left;}
.clear-right {clear:right;}
.clear-both {clear:both;} */

body {
    margin:0;
 }
 
 .main-nav{
    height:75px;
    background-color: orange;
    }
   
    /* .main-nav:hover{
        height:85px;
    } */
    .logo {
        height:56px;
        padding:10px;
    }
  
   
    li{
        color:green;
        float:right;
        padding: 14px 16px;
        list-style-type:none;
    }
    .center{
        text-align: center;
    }
 
  .nav-list{
    list-style-type: none;
    float:right;

 }
  li{
  color:blue;
  padding:14px 16px;
  float:left;
 }
 
/* end nav styles */
/* Content styles */

.content {
    height: 85vh;
}

 .footer{
   background-color: brown;
   height:50px;
 }
 .social-media{
     height:50px;
     margin-bottom: 0;
     list-style-type: none;
 }
 a{
    color: blue;
    
    text-decoration: none;
 }